body {
    background-color: #1C1C1C;
}

header {
    background-color: #000;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 3px 2px 15px black;
}

header h2 {
    color: #fff;
    margin-right: 5px;
    margin-top: 10px;
}

header img {
    height: 10%;
    width: 10%;
    margin-top: 15px;
}

.red {
    color: red;
}

.botoes-header {
    margin: 20px 0px;
}

.botoes-header a {
    margin: 0px 7px;
    color: red;
    font-weight: 700;
}

.ofertas {
    margin-top: 30px;
    margin-bottom: 30px;
}

.carousel {
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 3px 2px 15px black;
}

.carousel img {
    border-radius: 30px;
}

.card {
    border-radius: 30px;
    background-color: #000;
    margin-bottom: 20px;
    margin-right: 5px;
    width: 108% !important;
}

.card img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.card h6 {
    font-size: 0.9rem;
    color: darkgray;
}

.card h2 {
    font-size: 1.6rem;
    color: red;
}

.card p {
    font-size: 0.8rem;
    color: gray;
}

.titulo {
    margin: 20px;
    color: beige;
}

.departamento a img {
    width: 100%;
}

.departamento a {
    color: red;
    margin-bottom: 10px;
}

.margem_baixa {
    margin-bottom: 20px;
}
